*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    }
    /*navabr start*/
    #navbar{
        background:white;
    }
    #logo{
        font-size: 36px;
        font-weight: 700;
        color:yellow;
        text-shadow:0px 1px 1px rgb(231, 228, 5);
        margin-bottom:5px;
    }
    #logo span{
        
        color:green;
    }
    .navbar-toggler span{
        color:#ffa500;
    } 
    .navbar-nav{
        margin-left: 20px;
    }
    .nav-item .nav-link{
        font-size: 16px;
        font-weight: 550;
        color:black;
        letter-spacing: 1px;
        border-radius: 3px;
        transition: 0.5s ease;
    }
    .nav-item .nav-link:hover{
        background: #ffa500;
        color:white;
    }
    .navbar form button{
        background: #ffa500;
        color: white;
        border: none;
    }

    /*navbar End*/
    .home{
        width: 100%;
        height:90vh;
        background-image: url('beautiful-view-green-fields-sunrise-captured-canggu-bali_181624-14146.avif');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
.home .content{
    text-align: center;
    padding-top: 200px;
}
    
    .home .content h5{
        color:green;
        font-size: 38px;
        font-weight: 500;
        text-shadow: 0px 1px 1px yellow;
    
    }
    

.home .content p{
    color:black;
       font-size: 15px;
       font-weight: 600;
       text-shadow: 0px 1px 1px black;
       margin-bottom: 30px;
        margin-top: 5px;
   }
   @media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
       font-size: 25px;
        
    }
    .home .content h1{
     font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
.shop{
    margin-top:  50px;
   }
   .shop.card{
       border-radius:  10px;
       box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
       cursor: pointer;
   }
   .shop.card img{
       border-radius: 10px;
       transition: 0.5s;
   
   }
   .shop .card img:hover{
       transform: scale(1.1);
   }
   

.about{
    padding:50px;
     margin-top: 50px; 
    background: #f9f9f9;

}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;

}
.about p{
    font-weight: 550;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color:white;
    letter-spacing:  2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    width: 170px;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
#footer{
    width: 100%;
    margin-top: 150px;
   text-align: center;
   background: #f9f9f9;

}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black ;
}
#footer h1 span{
    color:#ffa500;
}

.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
